*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", serif;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.logo-title{
    font-size: 28px;
    font-weight: 800;
}

.hero-container{
    justify-content: center;
    text-align: center;
    padding: 26px 220px 45px 220px;
    background-image: url('./assets/Hero-bg.png');
    background-repeat: no-repeat;
    object-fit: cover;
 
}

nav button{
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background-color: white;
}

.hero-container h1{
    font-size: 40px;
    font-weight: 800;
    margin: 30px 0;
}

.hero-container img{
    width: 170px;
}

.hero-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.hero-container button{
    background-color: black;
    color: white;
    padding: 16px 25px;
    border-radius: 8px;
    margin: 32px 0;
}

section{
    margin: 80px 120px;
}

.why-container{
    background: rgba(13, 19, 33, 0.02);
    margin: 80px 120px;
    padding-bottom: 70px;
}

.why-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 48px;
    margin: 20px 90px;
    
    /* background-color: white; */

}

.why-content img{
    width: 260px;
}

.why-content p{
    margin: 20px 0;
}

.why-text{
    text-align: center;
    padding-top: 40px;
}

.why-text > p{
    margin: 24px 0 48px 0;
}


.why-content button{
    font-size: 18px;
font-weight: 600;
border: 2px solid black;
background-color: white;
padding: 12px 20px;
}

.help-text {
    width: 65%;
}

.inspiration-container{
    text-align: center;
    align-items: center;
}

.inspiration-container p{
    padding: 20px 200px;
}

.inspiration-video{
    padding: 30px;
}

.target-text, .next-target{
    text-align: center;

}

.target-text p, .next-target p{
    margin: 30px 0;
}

.skills{
    display: flex;
    justify-content: space-around;
}

.target-content{
    width: 285px;
    height: 210px;
    padding: 30px;
    border-radius: 10px;
}

.target-content h2 {
    margin: 15px 0;
}

.target-content p{
    margin-bottom: 15px;
}

#yellow{
   background: rgba(255, 76, 30, 0.05);;
}

#blue{
    background: rgba(0, 76, 232, 0.05);
}

.skill-container{
    display: flex;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    height: 200px;
    gap: 40px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.skill-container img{
    height: 100px;
}

.skill-content p{
    margin: 15px 0;
}

.support-container{
    align-items: center;
    text-align: center;
    background-image: url('./assets/handshake.jpg');
    height: 300px;
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 16px;
    padding-top: 80px;
   
}

.support-container p{
    margin: 30px 0;
}

.support-container input{
    width: 40%;
    padding: 10px;
}

.support-container button{
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 576px) {
    nav ul{
        flex-direction: column;
        padding: 20px 0;
    }
    .hero-container{
        padding: 20px;
    }
    section, .why-container, .why-content{
        margin: 0;
    }
    .why-content{
        flex-direction: column-reverse;
        padding: 15px 15px 30px 15px;
    }

    .help-text{
        width: 100%;
    }
    .inspiration-container p{
        padding: 10px;
    }
    .inspiration-video{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skills{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .target-content{
      
        justify-content: center;
    }

    .target-text p{
        padding: 0 30px;
    }

    .skill-container{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 70px;
    }
    .skill-container img{
        height: 50px;
    }

    .footer-container{
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    
    }

    footer{
        justify-content: center;
        text-align: center;
        margin: 50px 0;
    }
}